# Python-related
**/venv/
**/__pycache__/
**/*.pyc
**/.env

# Data and Plots (Outputs)
**/output/
**/plots/

# IDE files
.vscode/
.idea/

# Large Files
**/*.xlsx
**/*.png
**/*.webp
**/*.log

# Project-specific
CTD/.env
.gitignore_old
