# Credentials and Secrets
**/.env
**/.env.local
**/.env.development
**/.env.production
!**/.env.template
**/credentials.json
**/secrets/
**/tokens/
**/config_local.json

# Python-related
**/venv/
**/env/
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache/

# Data and Plots (Outputs)
**/output/
**/plots/

# IDE files
.vscode/
.idea/
*.swp
*.swo

# Large Files
**/*.xlsx
**/*.png
!assets/*.png
**/*.webp
**/*.log
**/*.csv
**/*.parquet
**/*.h5
**/*.netcdf
**/*.nc

# Project-specific/Old
.gitignore_old
**/tmp/
**/temp/
